.recruitement-form {
  text-align: center;
}
.baground-image{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background: url('./image/recruitement.jpg');
  background-size: cover;
background-position:center;
}

.h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginbox{
  width: 320px;
  height: 500px;

  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar{
  width: 100px;
  height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: calc(50% - 50px);
}
.avatar2{
  width: 200px;
  height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: calc(50% - 50px);
}


.box{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;

}
.ajustement{
  
  margin-left: 1400px;
  

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
   
.a {
  position: relative;
  width: 1000px;
  height: 700px;
}

.b {
  position: absolute;
  left: auto;
  width: 500px;
  height: 700px;
  border-width: thin; 
  border: 3px solid silver;
 ;
} 

.c {
  position: absolute;
  left: 500px;
  width: 500px;
  border-width: thin; 
  height: 700px;
  border: 3px solid silver;
  box-sizing: border-box;
  background: url('./image/bag.jpg')
} 
.blocktext {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  
 
    
    border-color: #555;
  padding: 20px;
}
.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto }

.placeholder{
  
      border: 3px solid #555;
      transition: width 0.4s ease-in-out;}
.baground-forgot{
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        background: url('./image/forg.jpg');
        background-size: cover;
      background-position:center;
      }
.photo{
  display: block;
  margin-left: auto;
  margin-right: auto ;
	height: 250px;
}
.center {
  display: flex;
  justify-content: center;
 
}
.baground-offre{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background: url('./image/bag.jpg');
  background-size: cover;
background-position:center;
}
.Registrebox{
  width: 320px;
  height: 650px;
  
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.user{
  margin-top: 20px;
  height: 950px;
  background: url('./image/bag.jpg');

}
.sptb {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.panel-body {
  padding: 15px;
}
.card {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 1.5rem 1.5rem;
  position: relative;
}
.tab-content .item-card7-desc p {
  color: #838a9c;
  font-size: 13px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  border-radius: 3px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eaeef9;
  box-shadow: 0 0 40px 0 rgba(234, 238, 249, 0.5);
}
.card-body + .card-body {
  border-top: 1px solid #e8ebf3;
}
.btn-primary {
  color: #fff;
  background-color: #1650e2;
  border-color: #1650e2;
}